body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgreen;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: aliceblue;
}

nav div {
  margin: 10px;
}
section {
  display: flex;
}
