body {
  margin: 0;
  box-sizing: border-box;
  background-color: cornsilk;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: aliceblue;
}

nav div {
  margin: 10px;
}

section {
  display: flex;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: monospace;
}

main {
  display: grid;
  grid-row: auto;
  justify-content: center;
  align-items: center;
}

button {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-1 {
  width: 30%;
}
